# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
/dist/
/build/
**/poetry.lock
!poetry.lock
.pytest_cache/


# storage
store.json
*.db

# Environment
.env
.env.local
.env.prod

# IDE
.vscode/
.idea/
*.swp
*.swo
.claude

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Logs
logs/
*.log
